<footer>
  <br>
  <p>Runtime Terror's <sup>(Team 6)</sup> Final Project 2021 <br>
  Gabrielle Lake, Erik Morris, Paul Nguyen, Ryan Pheang<br>
	<strong>Disclaimer:</strong> The information in the webpage is completely ficticious.<br>
	But for academic purposes only.</p>
</footer>